## Домашняя работа №2
Работа с табличными данными в Pandas, контроль качества данных, базовый EDA и визуализация в Matplotlib.

### 1. Загрузка данных и первичный осмотр

In [1]:
# импортирование необходимых библиотек
import pandas as pd, matplotlib

In [2]:
# получение текущего путя к файлу с данными
#import os
#dataSetDirectory = os.getcwd()+"/S02-hw-dataset.csv"
dataSetDirectory = "S02-hw-dataset.csv"
# импортирование данных в pandas.DataFrame
df = pd.read_csv(dataSetDirectory)

In [3]:
# вывод первичной информации
print(df.head(),"\n########################")
print(df.info(),"\n########################")
print(df.describe())

   user_id   age country  purchases  revenue
0        1  25.0      FR          7      749
1        2  24.0      RU          5     1115
2        3  52.0      FR          7      399
3        4  31.0      RU          6      654
4        5   NaN      DE          6     1296
########################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    41 non-null     int64
 1   age        39 non-null     float64
 2   country    41 non-null     object
 3   purchases  41 non-null     int64
 4   revenue    41 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.7+ KB
None
########################
         user_id         age  purchases      revenue
count  41.000000   39.000000  41.000000    41.000000
mean   20.243902   36.512821   4.829268   820.048780
std    11.659289   18.304259   2.710189   613.127269
min     1.000000    5.000000  -1.000000     0.000000
25%    10.000000   24.000000   3.000000   432.000000
50%    20.000000   33.000000   5.000000   693.000000
75%    30.000000   45.500000   7.000000  1115.000000
max    40.000000  120.000000  11.000000  2475.000000

### 2. Пропуски, дубликаты и базовый контроль качества

In [4]:
# посчитаем долю пропусков
print(df.isna().mean())

user_id      0.00000
age          0.04878
country      0.00000
purchases    0.00000
revenue      0.00000
dtype: float64

In [5]:
# проверяем наличие полностью дублирующих строк

print("Количество дублей: ",df.duplicated().sum())

Количество дублей:  1

In [8]:
# Поиск "подозрительных" значений 

#Вывод строк содержащих отрицательные значения
print("Строки с отрицательными значениями: \n",
      df[(df['age']<0) | (df['purchases']<0) | (df['revenue']<0)])
print("Странные значения возраста: \n",
      df[(df['age']<18) | (df['age']>99)])

Строки с отрицательными значениями:
    user_id    age country  purchases  revenue
5        6  120.0      FR         -1      785
Странные значения возраста:
     user_id    age country  purchases  revenue
5         6  120.0      FR         -1      785
20       21    5.0      RU          8     1488